{% for message in flashSuccess%}
<div class="col-md-5 text-center ">
  <div id="toast" class="alert alert-success" data-delay="6000">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="material-icons">close</i>
    </button>
    <span>{{message}}</span>
  </div>
</div>
{% endfor %} {% for message in flashError%}
<div class="col-md-5 text-center">
    <div id="toast" class="alert alert-danger" data-delay="6000">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
      </button>
      <span>{{message}}</span>
    </div>
  </div>
{% endfor %}