<div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
            Tip 2: you can also add an image using data-image tag
        -->
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            S.A.M
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            
            <li class="nav-item ">
                <a class="nav-link" href="/">
                    <i class="material-icons">computer</i>
                    <p>Principal</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" href="#consultas" aria-expanded="false">
                    <i class="material-icons"> calendar_today
                    </i>
                    <p> Consultas
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="consultas">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/agenda/list">
                                <i class="material-icons">collections_bookmark</i>
                                <span class="sidebar-normal">Listar</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/agenda/register">
                                <i class="material-icons">add_circle</i>
                                <span class="sidebar-normal">Nova Consulta</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" href="#pacientes" aria-expanded="false">
                    <i class="material-icons">group</i>
                    <p> Pacientes
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pacientes">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/pacients">
                                <i class="material-icons">person</i>
                                <span class="sidebar-normal">Listar</span>
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/pacient/register">
                                <i class="material-icons">add_circle</i>
                                <span class="sidebar-normal">Cadastrar paciente</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>

    </div>
</div>
<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons" style="font-size: 40px;">person_pin</i>
                            <p class="d-lg-none d-md-block">
                                Account
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right disabled" aria-labelledby="navbarDropdownProfile">
                            {# <a class="dropdown-item disabled" href="#">Perfil</a>
                            <a class="dropdown-item disabled" href="#">Configurações</a> #}
                            {# <div class="dropdown-divider"></div> #}
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>