{% extends "layouts/main.njk" %}
  {%block body%}

<div class="wrapper ">
  {%include "partials/side_bar.njk"%}
  <!-- End Navbar -->
  <div class="content">
      {% block app%}
      {%endblock%}

  {%endblock%}
  </div>
</div>
</div>
</div>
</div>
</div>